<mat-toolbar color="primary">
<mat-toolbar-row>
  <span>Post app </span>
  <span class="example-spacer"></span>

  <a mat-button routerLink="/" >
    <mat-icon class="example-icon" aria-hidden="false" aria-label="Example heart icon" [ngStyle]="{'margin-right': '10px'}"  >add</mat-icon>
    Add Post
  </a>

  <a mat-button routerLink="postlist">
    <mat-icon class="example-icon" aria-hidden="false" aria-label="Example delete icon" [ngStyle]="{'margin-right': '10px'}"   >list</mat-icon>
    List
  </a>
</mat-toolbar-row>
</mat-toolbar>
