.example-icon {
  padding: 0 8px 0 5px;  /*top right bottom left */
}

.example-spacer {
  flex: 1 1 auto;
}
a{
  color:white;
  text-decoration: none;
  font-size: 12px;
}

.active {
  background-color: #7945d3;
}
